<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://images.apple.com/v/watch/d/gallery/images/edition_yellowgold_brightred_modernbuckle_38mm_medium.jpg</string>
	<string>http://images.apple.com/v/watch/d/gallery/images/edition_rosegold_rosegray_modernbuckle_38mm_medium.jpg</string>
	<string>http://images.apple.com/v/watch/d/gallery/images/edition_yellowgold_black_classicbuckle_42mm_medium.jpg</string>
	<string>http://images.apple.com/v/watch/d/gallery/images/edition_yellowgold_black_sportband_38mm_medium.jpg</string>
	<string>http://images.apple.com/v/watch/d/gallery/images/watch_spaceblackstainless_linkbracelet_38mm_medium.jpg</string>
	<string>http://images.apple.com/v/watch/d/gallery/images/watch_spaceblackstainless_linkbracelet_42mm_medium.jpg</string>
	<string>http://images.apple.com/v/watch/d/gallery/images/watch_stainless_brown_modernbuckle_38mm_medium.jpg</string>
	<string>http://images.apple.com/v/watch/d/gallery/images/watch_stainless_black_modernbuckle_38mm_medium.jpg</string>
	<string>http://images.apple.com/v/watch/d/gallery/images/watch_stainless_brightblue_leatherloop_42mm_medium.jpg</string>
	<string>http://images.apple.com/v/watch/d/gallery/images/watch_stainless_milanese_42mm_medium.jpg</string>
	<string>http://images.apple.com/v/watch/d/gallery/images/watch_stainless_black_classicbuckle_42mm_medium.jpg</string>
	<string>http://images.apple.com/v/watch/d/gallery/images/watch_stainless_black_sportband_42mm_medium.jpg</string>
	<string>http://images.apple.com/v/watch/d/gallery/images/watch_stainless_white_sportband_42mm_medium.jpg</string>
</array>
</plist>
