<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>chen_list_large</string>
	<string>gao_list_large</string>
	<string>kalonick_list_large</string>
	<string>kapa_list_large</string>
	<string>staudacher_list_large</string>
</array>
</plist>
